<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>
  <title>Juicer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.1/pure-min.css">
  <link rel="stylesheet" type="text/css" media="screen" href="assets/css/main.css">
</head>
<body>

  <div class="juicer-controller" ng-controller="JuicerController">
    <div class="pure-g top">
      <div class="properties pure-u-1-4">
        <h3 class="panel-title">Object Properties</h3>
        <ul>
            <li ng-repeat="property in keyframedProperties">
            <span>{{property}}</span><input ng-model="selectedObject[property]" size="10">
            </li>
        </ul>
        <p ng-hide="selectedObject">
          No object selected.
        </p>
        <form ng-submit="addKeyframe()">
          <input type="submit" value="Add keyframe">
        </form>
        <form ng-submit="removeKeyframe()">
          <input type="submit" value="Remove keyframe">
        </form>
      </div>
      <div class="scene pure-u-3-4">
        <h3 class="panel-title">Scene</h3>
        <div class="object" ng-repeat="object in objects"
          ng-class="{selected: isObjectSelected(object)}">
          <span>{{object.name}}</span>
        </div>
      </div>
    </div>

    <div class="pure-g bottom">
      <div class="objects pure-u-1-4">
        <h3 class="panel-title">Objects</h3>
        <ul>
          <li ng-repeat="object in objects" ng-click="selectObject(object)"
            ng-class="{selected: isObjectSelected(object)}">
            <span>{{object.name}}</span>
          </li>
        </ul>
        <form ng-submit="addObject()">
          <input type="text" ng-model="object">
          <input type="submit" value="add">
        </form>
      </div>
      
      <div class="timeline pure-u-3-4">
        <div class="scale">
          <div class="tick" ng-repeat="tick in visibleTicks"
            ng-class="{active: tick.value == time}">
            {{tick.value}}
          </div>
        </div>
        <input class="scrubber" type="range" ng-model="time"
          min="{{timeStart}}" max="{{timeEnd + 1}}" ng-change="scrubberChange()"/>
      </div>
    </div>

  </div> <!-- END juicer-controller -->

  <!--[if lt ie 8]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script data-main="assets/javascripts/main.js" src="assets/javascripts/vendor/require.js"></script>
</body>
</html>
