* {
  box-sizing: border-box; }

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0; }

html, body, .juicer-controller {
  height: 100%; }

.panel-title {
  margin: 0;
  padding: 5px;
  border-bottom: solid 1px #cccccc; }

.pure-g.top {
  height: 75%; }

.properties {
  height: 100%; }
  .properties > ul li {
    border-bottom: solid 1px #cccccc;
    padding: 5px; }
    .properties > ul li > span {
      color: #888888;
      font-style: italic;
      display: inline-block;
      width: 30%; }

.scene {
  height: 100%;
  border-left: solid 1px #cccccc; }

.pure-g.bottom {
  height: 25%; }

.objects {
  border-top: solid 1px #cccccc; }

.timeline {
  border: solid 1px #cccccc; }
  .timeline input[type=range] {
    -webkit-appearance: none;
    background-color: white;
    width: 100%;
    height: 100px;
    outline: none; }
  .timeline input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #888888;
    width: 1px;
    height: 100px; }
  .timeline .scale {
    border-bottom: solid 1px #cccccc;
    font-size: 10px; }
    .timeline .scale .tick {
      display: inline-block;
      width: 2%;
      padding: 2px;
      border-left: solid 1px #DDD; }
      .timeline .scale .tick.active {
        background: #cccccc;
        border-color: #888888; }

.selected {
  color: green; }
