* {
  box-sizing: border-box; }

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0; }

html, body, .juicer-controller {
  height: 100%; }

.panel-title {
  margin: 0;
  padding: 5px;
  border-bottom: solid 1px #cccccc; }

.pure-g.top {
  height: 75%; }

.properties {
  height: 100%; }
  .properties > ul li {
    border-bottom: solid 1px #cccccc;
    padding: 5px; }
    .properties > ul li > span {
      color: #888888;
      font-style: italic;
      display: inline-block;
      width: 30%; }

.scene {
  height: 100%;
  border-left: solid 1px #cccccc; }

.pure-g.bottom {
  height: 25%; }

.layers {
  border-top: solid 1px #cccccc; }

.timeline {
  border: solid 1px #cccccc; }
  .timeline input[type=range] {
    -webkit-appearance: none;
    background-color: white;
    width: 100%;
    height: 100px;
    outline: none; }
  .timeline input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #888888;
    width: 1px;
    height: 100px; }
  .timeline .scale {
    border-bottom: solid 1px #cccccc;
    font-size: 10px; }
    .timeline .scale .tick {
      display: inline-block;
      width: 2%;
      padding: 2px;
      border-left: solid 1px #DDD; }
      .timeline .scale .tick.active {
        background: #cccccc;
        border-color: #888888; }

.selected {
  color: green; }

.canvas-container {
  overflow: auto;
  height: 100%;
  width: 100%; }

.canvas {
  height: 2000px;
  width: 2000px;
}


/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer
{
    overflow: hidden;
    position: relative;
}

.jspPane
{
    position: absolute;
}

.jspVerticalBar
{
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    height: 100%;
    background: red;
}

.jspHorizontalBar
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 16px;
    background: red;
}

.jspVerticalBar *,
.jspHorizontalBar *
{
    margin: 0;
    padding: 0;
}

.jspCap
{
    display: none;
}

.jspHorizontalBar .jspCap
{
    float: left;
}

.jspTrack
{
    background: #dde;
    position: relative;
}

.jspDrag
{
    background: #bbd;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
    float: left;
    height: 100%;
}

.jspArrow
{
    background: #50506d;
    text-indent: -20000px;
    display: block;
    cursor: pointer;
}

.jspArrow.jspDisabled
{
    cursor: default;
    background: #80808d;
}

.jspVerticalBar .jspArrow
{
    height: 16px;
}

.jspHorizontalBar .jspArrow
{
    width: 16px;
    float: left;
    height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
    outline: none;
}

.jspCorner
{
    background: #eeeef4;
    float: left;
    height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
    margin: 0 -3px 0 0;
}
