// Variables
// ---------------------------------------------------------------------------
$lighterGray: #EEE;
$lightGray: #CCC;
$gray: #888;

$lightBlue: #3498db;
$blue: darken($lightBlue, 10%);

$titleHeight: 33px;

// Globals
// ---------------------------------------------------------------------------
* {
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

html, body, .juicer-controller {
  height: 100%;
}

body, input {
  font-family: 'Oxygen';
}

.panel-title {
  margin: 0;
  padding: 5px;
  border-bottom: solid 1px $lightGray;
  background: $lighterGray;
}

input {
  outline: none;
}

input[type=button], input[type=submit] {
  background: $lightBlue;
  border: solid 1px $blue;
  color: white;
  cursor: pointer;
  padding: 5px 8px;
  margin: 0;
  font-weight: bold;

  &:hover {
    background: $blue;
    border-color: darken($blue, 25%);
  }
}

// Top half of UI
// ---------------------------------------------------------------------------
.pure-g.top {
  height: 75%;
}

.properties {
  height: 100%;

  > ul {
    height: calc(100% - 100px);

    li {
      border-bottom: solid 1px $lightGray;
      padding: 6px;

      > span {
        color: $gray;
        font-style: italic;
        display: inline-block;
        width: 50%;
      }

      input {
        border: solid 1px $lightGray;
        padding: 4px;
        width: 150px;
      }
    }
  }

  > p {
    margin: 1em;
    font-style: italic;
    height: calc(100% - 100px);
  }

  .actions {
    input {
      width: calc(50% - 2px);
      float: left;
      margin-right: -1px;
    }
  }
}

.scene {
  height: 100%;
  border-right: solid 1px $lightGray;

  .scene-controls {
    float: right;
    margin-top: -$titleHeight;

    > span, > input {
      float: right;
    }

    > span {
      display: inline-block;
      padding: 7px;
    }

    .zoom-label {
      margin-left: 10px;
    }

    > input {
      height: 30px;
    }

    > input[type=button] {
      background: white;
      color: $blue;
      margin-left: -1px;

      &:hover {
        background: $lightBlue;
        color: white;
      }
    }

    input[type=range] {
      -webkit-appearance: none;
      background-color: white;
      margin: -1px 10px 0 0;
      width: 100px;
      height: $titleHeight;
      border: solid 1px $lightGray;
      outline: none;
    }

    input[type=range]::-webkit-slider-thumb {
      -webkit-appearance: none;
      background-color: $gray;
      width: 1px;
      height: $titleHeight;
    }

    .juice, .json-dump {
      margin-right: 10px;
    }

    .json-dump {
      width: 50px;
    }
  }

  .scene-objects {
    width: 100%;
    height: calc(100% - 33px);
    float: left;
    overflow: hidden;

    .object {
      position: absolute;
      background: $gray;

      &.selected {
        border: solid 2px red;
      }
    }
  }
}

// Bottom half of UI
// ---------------------------------------------------------------------------
.pure-g.bottom {
  height: 25%;
}

.objects {
  border-top: solid 1px $lightGray;
  border-left: solid 1px $lightGray;
  height: 100%;

  ul {
    margin-bottom: 5px;
    li {
      font-size: 12px;
      padding: 3px;
      border-bottom: solid 1px $lighterGray;
      cursor: pointer;
      &:hover {
        background: $lighterGray;
      }
      &.selected {
        font-weight: bold;
      }
    }
    span.remove {
      margin: -3px 0 0 0;
      padding: 0 6px;
      height: 100%;
      font-size: 16px;
      float: right;
      &:hover {
        background: darken($gray, 20%);
        color: white;
      }
    }
  }

  form {
    input[type=text] {
      width: 40%;
    }
    input[type=submit] {
      height: 26px;
      line-height: 15px;
    }
  }
}

.timeline-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  height: 100%;
}

$timelineWidth: 152 * 25px;
$tickWidth: 25px;

.timeline {
  position: relative;
  height: 100%;

  input[type=range] {
    -webkit-appearance: none;
    position: absolute;
    width: $timelineWidth - 25px;
    height: 150px;
    outline: none;
    background: transparent;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: $gray;
    width: 1px;
    height: 150px;
  }

  .scale {
    width: $timelineWidth;
    border: solid 1px $lightGray;
    font-size: 10px;
    margin-top: 22px;

    .tick {
      display: inline-block;
      width: $tickWidth;
      border-left: solid 1px #DDD;

      &.active {
        background: $lightGray;
        border-color: $gray;
      }
    }
  }

  .tickrow {
    height: 22px;
  }
}

.selected {
  color: green;
}

.keyframes {
  width: $timelineWidth;
  height: 100%;

  .tick {
    display: inline-block;
    width: $tickWidth;
    height: 20px;
    padding: 2px;
    border-left: solid 1px #DDD;

    &.active {
      background: $lightGray;
      border-color: $gray;
    }
  }
}

.object {
  img {
    height: 100%;
    width: 100%;
  }
}

#camera-view {
  width: 600px;
  height: 400px;
  position: relative;
  margin: auto;
  margin-top: 50px;
  border: 1px gray dashed;
  pointer-events: none;
}
