// Variables
// ---------------------------------------------------------------------------
$lightGray: #CCC;
$gray: #888;

$titleHeight: 33px;

// Globals
// ---------------------------------------------------------------------------
* {
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

html, body, .juicer-controller {
  height: 100%;
}

.panel-title {
  margin: 0;
  padding: 5px;
  border-bottom: solid 1px $lightGray;
}

// Top half of UI
// ---------------------------------------------------------------------------
.pure-g.top {
  height: 75%;
}

.properties {
  height: 100%;

  > ul {
    li {
      border-bottom: solid 1px $lightGray;
      padding: 5px;

      > span {
        color: $gray;
        font-style: italic;
        display: inline-block;
        width: 30%;
      }
    }
  }
}

.scene {
  height: 100%;
  border-right: solid 1px $lightGray;

  .scene-controls {
    float: right;
    margin-top: -$titleHeight;

    > span, > input {
      float: right;
    }

    > span {
      display: inline-block;
      padding: 7px;
    }

    input[type=range] {
      float: right;
      -webkit-appearance: none;
      background-color: lighten($lightGray, 10%);
      width: 100px;
      height: $titleHeight;
      border-left: solid 1px $lightGray;
      border-bottom: solid 1px $lightGray;
      outline: none;
    }

    input[type=range]::-webkit-slider-thumb {
      -webkit-appearance: none;
      background-color: $gray;
      width: 1px;
      height: $titleHeight;
    }
  }

  .scene-objects {
    width: 100%;
    height: calc(100% - 33px);
    float: left;

    .object {
      position: absolute;
      background: $gray;

      &.selected {
        background: black;
      }
    }
  }
}

// Bottom half of UI
// ---------------------------------------------------------------------------
.pure-g.bottom {
  height: 25%;
}

.objects {
  border-top: solid 1px $lightGray;
}

.timeline {
  border: solid 1px $lightGray;

  input[type=range] {
    -webkit-appearance: none;
    background-color: white;
    width: 100%;
    height: 100px;
    outline: none;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: $gray;
    width: 1px;
    height: 100px;
  }

  .scale {
    border-bottom: solid 1px $lightGray;
    font-size: 10px;

    .tick {
      display: inline-block;
      width: 2%;
      padding: 2px;
      border-left: solid 1px #DDD;

      &.active {
        background: $lightGray;
        border-color: $gray;
      }
    }
  }
}

.selected {
     color: green;
}
